/* Generals */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgb(250, 250, 250);
  margin: 0;
}

.error-message {
  color: red;
}

.container {
  padding: 50px;
  max-width: 700px;
  margin: auto;
}

.container-register {
  padding: 30px;
  max-width: 350px;
  margin: auto;
}

.content {
  display: flex;
}

#content-register {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#box-content {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  padding-left: 15px;
}

.login-box {
  background-color: white;
  text-align: center;
  border: 1px solid rgb(219, 219, 219);
}

.register-box {
  background-color: white;
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(219, 219, 219);
}

.register-box a {
  text-decoration: none;
}

.alt-login {
  margin: 1px 20px 25px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.alt-login a {
  font-size: 14px;
  color: grey;
  text-decoration: none;
}

/* Responsivity Changes */

@media screen and (max-width: 900px) {
  .image {
    display: none;
  }

  .content {
    justify-content: center;
  }

  .container {
    padding: 30px 5px 30px 5px;
    align-items: center;
  }

  .container-register {
    padding: 30px 5px 30px 5px;
  }
}

/* Specifics */

h1 {
  color: rgb(17, 17, 17);
  margin: 15px;
  font-size: 50px;
  padding: 1px;
  font-family: "Cookie", cursive;
}

h2 {
  color: rgb(17, 17, 17);
  padding-top: 12px;
  margin: 0px;
  font-size: 30px;
  font-family: "Cookie", cursive;
}

h3 {
  font-weight: 400;
  color: rgb(163, 163, 163);
}

/* Specific buttons and input fields */

.container input,
.container-register input {
  border-radius: 0.3em;
  border: 1px solid rgb(219, 219, 219);
  height: 30px;
  margin: 10px;
  width: 80%;
}
.container button,
.container-register button {
  cursor: pointer;
  border-radius: 0.3em;
  font-weight: 600;
  color: white;
  background-color: rgb(80, 150, 241);
  height: 30px;
  margin: 10px;
  width: 80%;
  border: none;
}

#eller-lines {
  letter-spacing: 0.5px;
  font-weight: 500;
  font-size: 12px;
  color: rgb(141, 141, 141);
}

.app-box {
  text-align: center;
}

/* specific fake buttons for "skaffa appen" buttons */
.app-box button {
  height: 42px;
  color: white;
  background-color: black;
}

.app-buttons {
  display: flex;
}

.disclaimer-box {
  color: grey;
  font-weight: 400;
  font-size: 11px;
  padding: 0px 28px 40px 28px;
}

/* footer */

.footer-stuff {
  margin-top: 45px;
  margin-bottom: 45px;
  text-align: center;
  font-size: 13px;
  color: rgb(155, 155, 155);
}

.fr1,
.fr2,
.fr3 {
  padding: 5px;
}

.fr1,
.fr2 {
  word-spacing: 8px;
}

/* fixed included header */

.navbar-container {
  width: 100%;
  position: fixed;
  overflow: hidden;
  top: 0;
  height: 59px;
  text-align: center;
  border-bottom: 1px solid rgb(216, 216, 216);
  background-color: white;
}

.navbar-content {
  padding: 0px 15px 0px 15px;
  max-width: 950px;
  justify-content: space-between;
  word-spacing: 13px;
  display: flex;
  margin: auto;
}

.navbar-links {
  padding-top: 15px;
}

.navbar-container a {
  font-weight: 100;
  text-decoration: none;
}

.navbar-container input {
  font-size: 15px;
  border-radius: 0.5em;
  width: 300px;
  margin-top: 10px;
  height: 36px;
  padding-top: 3px;
  padding-left: 10px;
  border: none;
  color: grey;
  background-color: rgb(240, 240, 240);
}

.navbar-container input:focus {
  outline: none;
}

@media screen and (max-width: 900px) {
  .navbar-container input {
    max-width: 250px;
  }
}

@media screen and (max-width: 640px) {
  .navbar-container input {
    display: none;
  }
}

/* MAIN PAGE with flow and user list */

.main-page {
  font-size: 14px;
  max-width: 950px;
  margin: auto;
  padding: 0px 15px 0px 15px;
  margin-top: 100px;
}

.main-container {
  display: flex;
  max-width: 950px;
}

.main-left {
  width: 70%;
}

.main-right {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  width: 306px;
}

#secondaryName {
  color: rgb(184, 184, 184);
}

.flow-container {
  background-color: rgb(250, 250, 250);
}

.flow-feed-flex {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.flow-item {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(219, 219, 219);
}

.flow-title-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgb(219, 219, 219);
}

.flow-title-box p {
  color: rgb(158, 158, 158);
}

.flow-image-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.flow-item h4 {
  margin-top: 22px;
  color: rgb(32, 32, 32);
  font-size: 17px;
  padding-left: 20px;
}
.flow-item p {
  margin-top: 23px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 70ch;
}

/* follower menu on homepage */
.follower-menu {
  display: flex;
}

.follower-suggestions {
  display: flex;
  justify-content: space-between;
}

.follower-suggestions,
ul {
  list-style: none;
}

.follower-status-box {
  gap: 10px;
  display: flex;
}

ul,
li {
  padding: 5px;
}
#user-data {
  padding: 10px;
}

/* UPLOAD SYSTEM */

.upload-form {
  display: flex;
  padding: 25px;
  justify-content: center;
}

.upload-form-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.img-preview {
  object-fit: cover;
  width: 400px;
}

#upload-button {
  cursor: pointer;
  border-radius: 0.3em;
  border: none;
  width: 100%;
  color: white;
  height: 30px;
  background-color: rgb(80, 150, 241);
}

#upload-input {
  padding: 8px;
}

#upload-input:focus {
  outline: none;
}

#upload-textarea {
  padding: 8px;
  font-family: sans-serif;
  width: 300px;
  height: 100px;
  resize: none;
}

#upload-textarea:focus {
  outline: none;
}

/* Profile Page */
.profile-header-page {
  margin-bottom: 100px;
  border-bottom: 1px solid rgb(207, 207, 207);

}

.profile-info {
  max-width: 25%;
  margin: auto;
  padding: 10px;

}
.img-gallery {
  object-fit: cover;
  cursor: pointer;
}

.img-gallery-main {
  display: grid;
  padding: 15px;
  grid-gap: 40px 30px;
  grid-template-columns: 1fr 1fr 1fr;
}

.img-gallery-main img {
  cursor: pointer;
}

/* Popup */
#popUp {
  display: none;
  padding: 15px;
  background: rgb(255, 255, 255);
  width: 70vw;
  height: 80vh;
  position: fixed;
  border: 1px solid rgb(172, 169, 169);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#showComments {
  font-size: 80%;
  max-height: 42vh;
  overflow-y: scroll;
}

#showComments p {
  line-height: 13px;
  max-width: 300px;
}

#showComments h2 {
  font-family: sans-serif;
  font-size: 14px;
  color: black;
  font-weight: bold;
}

.popUpStyle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

@media screen and (max-width: 1130px) {
}

.comment-button {
  border: none;
  cursor: pointer;
  border-radius: 0.3em;
  font-weight: 600;
  color: white;
  background-color: rgb(80, 150, 241);
  height: 30px;
  width: 100px;
  margin-bottom: 20px;
}

#closeMe,
#delete-comment {
  background-color: rgb(218, 218, 218);
  border: none;
  margin: 2px;
  color: white;
  padding-top: 3px;
  font-weight: bold;
}

#closeMe:hover,
#delete-comment:hover {
  background-color: grey;
}

.popUpImageBox {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 100%;
  max-width: 60%;
  flex-grow: 1;
  border-right: 1px solid rgb(223, 223, 223);
}

#popUpImage {
  max-width: 90%;
  max-height: 90%;
  object-fit: cover;
}

.popUpNonImgContent {
  display: flex;
  padding: 5px;
  flex-direction: column;
}

.popUpText {
  border-bottom: 1px solid rgb(214, 214, 214);
}

.popUpTitle {
  display: none;
}

.popUpContent {
  display: none;
}

.externalComments {
  flex-grow: 2;
  align-items: stretch;
}

.comment-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

#comment-textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: none;
  color: grey;
  background-color: rgb(240, 240, 240);
  resize: none;
  height: 50px;
  padding: 8px;
  outline: none;
  border-radius: 0.3em;
  width: 300px;
}

.comment-item {
  border-bottom: 1px solid rgb(214, 214, 214);
}

.comment-header {
  margin: 0px 2px 0px 2px;
  display: flex;
  justify-content: space-between;
}

.comment-content {
  margin-left: 8px;
  display: flex;
  justify-content: space-between;
}

#delete-button-box {
  display: flex;
  align-items: end;
}

#comment-timestamp {
  color: rgb(165, 165, 165)
}

.like-button {
  cursor: pointer;
  border: none;
}

.popUpButtonsFormation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}